# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = TopicsSpiders.settings

[deploy:1.24]
url = http://192.168.1.24:8600/
project = TopicsSpiders
